{% extends "base.html" %}

{% block title %}Accueil - Calculateur Santé{% endblock %}

{% block content %}
<div class="card">
    <h1>Bienvenue sur le Calculateur Santé </h1>
    <h2>Faite par Loic Steve Foutopouo Yeyap</h2>
    <p style="text-align: center; margin-bottom: 30px;">
        Découvrez votre IMC et votre métabolisme de base pour mieux comprendre votre santé
    </p>
    <div class="buttons">
        <a href="{{ url_for('bmi') }}" class="btn">Calculer mon IMC</a>
        <a href="{{ url_for('bmr') }}" class="btn">Calculer mon BMR</a>
    </div>
</div>
{% endblock %}